<h1>Welcome, <%= @name %> !</h1>
<h3><%= @compliments.sample %></h3>
<a href='/'>I'm still emotionally vacant. Give me another compliment.</a>
<br>
<br>
<a href='http://guides.rubyonrails.org/index.html'>I'm ready to soldier on.</a>
